<%= form_for(@post) do |f| %>

  <p><%= f.label :title %>
  <%= f.text_field :title %></p>

  <p><%= f.label :content %>
  <%= f.text_field :content %></p>
  <!-- Make check boxes for previously exisintg categories -->
  <!-- <input type="checkbox" name="?" value="#id"> -->


  <%= f.submit %>

<% end %>
